:root {
    --black: #222222;
    --pink-bkg: #F1E4E6;
    --pink-color: #F16D7F;
    --white-color: #FFFFFF;
    --grey-description: #5D5D5D;
    --white-background: #F8F8F8;
    --black-info: #222224;
    --white-info: #FBFBFB;
    --blue: #18a0fb;
    --grey-products: #3A3838;

}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header {
    background-color: var(--black);
    min-height: 75px;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-form-wrp {
    display: flex;
    position: relative;
}

.header__logo {
    margin: 18px 0 0 0;
}

.header__search {
    margin: 28px 0 0 41px;
    position: relative;
}

.header__search-form {
    position: absolute;
    width: 150px;
    height: 30px;
    display: none;
    left: 30px;
    top: 0;
}

.header__search-img:active+.header__search-form,
.header__search-img:focus+.header__search-form,
.header__search-img:hover+.header__search-form {
    display: block;
}

.header__search-form:hover,
.header__search-form:active,
.header__search-form:focus {
    display: block;
}

.header__search:hover .header__search-img,
.header__search:active .header__search-img {
    fill: var(--blue);
}

.header__menu {
    position: relative;
}

.header__menu-btn:hover .header__menu-btn-img,
.header__menu-btn:active .header__menu-btn-img {
    fill: var(--blue);
}

.header__nav {
    display: none;
    width: 232px;
    height: 764px;
}

.header__menu-btn:hover+.header__nav,
.header__menu-btn:focus+.header__nav {
    display: block;
}

.header__nav:hover {
    display: block;
}

.header__nav {
    position: absolute;
    top: 75px;
    left: 232px;
    background-color: var(--white-background);
}

.header__nav-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    margin: 37px 0 24px 34px;
}

.nav-sub-item__link-title {
    font-size: 14px;
    line-height: 17px;
    color: var(--pink-color);
    text-transform: uppercase;
    margin: 0 0 0 33px;
}

.nav-sub-item__list {
    display: none;
}

.nav-sub-item__link-title:hover+.nav-sub-item__list,
.nav-sub-item__link-title:focus+.nav-sub-item__list {
    display: block;
}

.nav-sub-item__list:active .nav-sub-item__list:focus {
    display: block;
}

.nav-sub-item__list {
    margin: 12px 0 20px 0;
}

.nav-sub-item__list li {
    margin: 0 0 11px 0;
}

.nav-sub-item__link {
    font-size: 14px;
    line-height: 17px;
    color: var(--grey-menu);
    margin: 0 0 0 55px;
}

.header__nav-list {
    font-size: 14px;
    line-height: 17px;
}


.header__link:hover .header__link-img,
.header__link:active .header__link-img {
    fill: var(--blue);
}


.header__link {
    text-decoration: none;
    margin: 0 0 0 33px;
}

.header__menu-btn {
    border: 1px solid transparent;
    background-color: transparent;
}

.nav-cross__btn {
    display: none;
}

.brand {
    display: flex;
    margin: 0 0 63px;
}

.brand__title-wrp {
    flex-grow: 1;
    background-color: var(--pink-bkg);
    display: flex;
    align-items: center;
    padding: 0 0 0 92px;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    position: relative;
}

.brand__title:before {
    content: '';
    width: 12px;
    height: 92px;
    background: var(--pink-color);
    position: absolute;
    top: 5px;
    left: -25px;
    background-size: 12px 92px;
}

.brand__subtitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.brand__subtitle-pink {
    color: var(--pink-color);
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    flex-direction: column;
}

.sales__item--women {
    background-image: url(../img/for-women.jpg);
}

.sales__item--men {
    background-image: url(../img/for-men.jpg);
}

.sales__item--kids {
    background-image: url(../img/for-kids.jpg);
}

.sales__item--accesories {
    background-image: url(../img/accesories.jpg);
    width: 100%;
    margin: 30px 0 0 0;
}

.sales__item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--white-color);
}

.sales__item-title {
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: var(--pink-color);
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    margin: 96px 0 0 0;
}

.products__subtitle {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 6px 0 0 0;
}

.products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 48px 0 0 0;
}

.products__item {
    width: 360px;
}

.products__item-title {
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    margin: 0 0 13px 0;
}

.products__item-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--grey-description);
    margin: 0 0 18px 0;
}

.products__item-price {
    font-size: 16px;
    line-height: 19px;
    color: var(--pink-color);
}

.products__info-wrp {
    padding: 25px 28px 20px 18px;
    background-color: var(--white-background);
}

/* OVERLAY CART-------------------- */

.products-img-wrp {
    position: relative;
}

.products__item-img {
    width: 100%;
    min-height: 420px;
}

.products__cart-overlay {
    width: 100%;
    min-height: 420px;
    background: var(--grey-products);
    opacity: 86%;
    position: absolute;
    top: 0;
}

.products__cart-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    line-height: 17px;
    color: var(--white-color);
    background: none;
    width: 138px;
    height: 43px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-button-img {
    margin: 0 11px 0 0;
}

.overlay {
    display: none;
}

.products__item-img:hover+.overlay {
    display: block;
}

/* ------------------------------------- */


.products__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    weight: 400;
    size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: var(--pink-color);
    border: 1px solid #FF6A6A;
    width: 211px;
    height: 47px;
}

/* Overlay button -----------------------*/

.products__btn:hover {
    background-color: var(--pink-color);
    color: var(--white-color);
}

/* ------------------------------------ */

.information {
    height: 341px;
    background-color: var(--black-info);
    margin: 95px 0 0 0;
}

.information__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 103px 0 0 0;
}

.information__item {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 134px;
    justify-content: space-between;
}

.information__item-img {
    max-width: 47px;
    max-height: 40px;
}

.information__item-title {
    color: var(--white-info);
    font-size: 19.96px;
    line-height: 24px;
}

.information__item-text {
    color: var(--white-info);
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
}

.footer__img {
    background-image: url(../img/footer-img.jpg);
    height: 448px;
    width: 1598px;
}

.footer__items {
    display: flex;
}

.footer__item-review {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__item-review-img {
    max-width: 96px;
    margin: 97px 0 0 0;
}

.footer__item-review-quote {
    width: 359px;
    margin: 30px 0 0 0;
    text-align: center;
}

.footer__quote {
    font-style: italic;
}

.footer__subscribe {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__subscribe-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-transform: uppercase;
    margin: 150px 0 0 0;
}

.footer__subscribe-subtitle {
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 32px 0;
}

.footer__form {
    display: flex;
    position: relative;
}

.form__subscribe {
    height: 49px;
    width: 322px;
    background-color: #E1E1E1;
    border-radius: 75px 0px 0px 74px / 75px 0px 0px 75px;
    border: none;
}

.form__subscribe:active,
.form__subscribe:focus,
.form__subscribe:hover {
    outline: 0;
    outline-offset: 0;
}

.subscribe__btn {
    background-color: var(--pink-color);
    border-radius: 0px 75px 75px 0px / 0px 75px 75px 0px;
    font-size: 14px;
    line-height: 17px;
    color: var(--white-color);
    border: none;
    position: absolute;
    left: 289px;
    height: 49px;
    width: 100px;
}

.footer__social {
    height: 79px;
    background-color: var(--black-info);
}

.footer__social-wrp {
    display: flex;
    justify-content: space-between;
}

.footer__social-list {
    display: flex;
    margin: 24px 0 0 0;
}

.footer__social-item {
    width: 31px;
    height: 32px;
    background-color: var(--white-background);
    margin: 0 0 0 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer__social-item:hover,
.footer__social-item:active,
.footer__social-item:focus {
    background-color: var(--pink-color);
    
}

.footer__social-item:hover .footer__social-link,
.footer__social-item:active .footer__social-link,
.footer__social-item:focus .footer__social-link {
    fill: var(--white-color);
}


.footer__social-text {
    margin: 30px 0 0 0;
    font-size: 16px;
    line-height: 19px;
    color: var(--white-info);
}