@import './variables.scss';
@import './mixins.scss';
@import './reset.scss';
@import './_general.scss';
@import './blocks/header';
@import './blocks/nav_sub_item';
@import './blocks/brand';
@import './blocks/sales';
@import './blocks/products';
@import './blocks/information';
@import './blocks/footer';
@import './blocks/form';
@import './blocks/registration';
@import './blocks/registratin-wrp.scss';
@import './blocks/registration-form';
@import './blocks/loyalty'