    $black: #222222;
    $pink-bkg: #F1E4E6;
    $pink-color: #F16D7F;
    $white-color: #FFFFFF;
    $grey-description: #5D5D5D;
    $white-background: #F8F8F8;
    $black-info: #222224;
    $white-info: #FBFBFB;
    $blue: #18a0fb;
    $grey-products: #3A3838;
    $pink-heading: #F8F3F4;
    $grey-registration: #B1B1B1;
    $grey-cart: #575757;
    
    $tablet-width: 1599px;
    $mobile-width: 767px;

