.brand {
    display: flex;
    margin: 0 0 63px;

    .brand__title-wrp {
        flex-grow: 1;
        background-color: $pink-bkg;
        display: flex;
        align-items: center;
        padding: 0 0 0 92px;
    }
    
    .brand__title {
        @include font(48px, 58px, 900);
        text-transform: uppercase;
        position: relative;
    }
    
    .brand__title:before {
        content: '';
        width: 12px;
        height: 92px;
        background: $pink-color;
        position: absolute;
        top: 5px;
        left: -25px;
        background-size: 12px 92px;
    }
    
    .brand__subtitle {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        display: block;
    }
    
    .brand__subtitle-pink {
        color: $pink-color;
    }
}

