.form__subscribe {
    height: 49px;
    width: 285px;
    background-color: #E1E1E1;
    border-radius: 75px 0px 0px 74px / 75px 0px 0px 75px;
    border: none;
    padding: 0 0 0 22px;

    @include mobile {
        width: 309px;
        height: 47px;
    }

    &-btn {
    background-color: $pink-color;
    border-radius: 0px 75px 75px 0px / 0px 75px 75px 0px;
    font-size: 14px;
    line-height: 17px;
    color: var(--white-color);
    border: none;
    width: 100px;
    min-height: 51px;

    @include mobile {
        width: 96px;
        min-height: 45px;
    }
}
}

.form__subscribe:active,
.form__subscribe:focus,
.form__subscribe:hover {
    outline: 1px solid $blue;
    outline-offset: -1px;
}

.form__subscribe-btn:hover,
.form__subscribe-btn:focus,
.form__subscribe-btn:active {
    border: 1px solid $blue;
}