.nav-sub-item__link-title {
    @include font(14px, 17px);
    color: $pink-color;
    margin: 0 0 0 33px;
    text-transform: uppercase;
}

.nav-sub-item__list {
    display: none;
}

.nav-sub-item__link-title:hover+.nav-sub-item__list,
.nav-sub-item__link-title:focus+.nav-sub-item__list {
    display: block;
}

.nav-sub-item__list:active .nav-sub-item__list:focus {
    display: block;
}

.nav-sub-item__list {
    margin: 12px 0 20px 55px;
}

.nav-sub-item__list li {
    margin: 0 0 11px 0;
}

.nav-sub-item__link {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.nav-cross-img {
    
}

.nav-cross__btn {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 17px;
        top: 16px;
}