.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include tablet {
        margin: 0 16px 0 16px;
    }

    @include mobile {
        margin: 0 auto;
    }
}

.sales__item {
    width: 31%;
    min-height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    flex-direction: column;

    @include tablet {
        min-height: 168px;
    }

    @include mobile {
        width: 100%;
        min-height: 247px;
        margin: 0 0 32px 0;        
    }

    &--women {
        background-image: url(../img/for-women.jpg);
        background-size: cover;
    }

    &--men {
        background-image: url(../img/for-men.jpg);
        background-size: cover;
    }

    &--kids {
        background-image: url(../img/for-kids.jpg);
        background-size: cover;
    }

    &--accesories {
        background-image: url(../img/accesories.jpg);
        background-size: cover;
        width: 100%;
        margin: 30px 0 0 0;

        @include tablet {
            margin: 19px 0 0 0;
            min-height: 116px;
        }

        @include mobile {
            margin: 0;
            min-height: 111px;
        }

    }

    &-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-transform: uppercase;
        color: $white-color;
    }

    &-title {
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: $pink-color;
    }
}